* {
  font-family: Lato;
}

ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.custom-dropzone {
	height: 250px;
	background: #333;
	color: #fff;
	border: 5px solid lightgray;
	border-radius: 5px;
	font-size: 20px;
}

